<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid white">
    <h4>Rede Social</h4>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Amigos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Páginas</a>
      </li>
    </ul>
    <span class="navbar-text"> Olá, {{ name }} </span>
    <button (click)="logout()">Sair</button>
  </div>
</nav>
<br><br>
<div class="row justify-content-center">
  <div class="col-8">
    <app-content></app-content>
  </div>
</div>
