<div
  class="row justify-content-center"
  *ngIf="this.router.routerState.snapshot.url != '/my-posts'"
>
  <div class="col-10 col-md-8">
    <app-create-post></app-create-post>
  </div>
</div>
<br />
<div *ngIf="show">
  <div class="row justify-content-center" *ngFor="let post of posts">
    <div class="col-10 col-md-8 mb-2">
      <app-posts [post]="post"></app-posts>
    </div>
  </div>
</div>

<div class="center" *ngIf="page < maxPage">
  <button class="btn btn-link" (click)="updatePosts()">
    Carregar mais posts
  </button>
</div>
